.parsedown h1 {
    font-size: 34px;
    font-weight: bold;
}

.parsedown h2 {
    font-size: 24px;
    font-weight: bold;
}

.parsedown h3 {
    font-size: 20px;
    font-weight: bold;
}

.parsedown h4 {
    font-size: 18px;
    font-weight: bold;
}

.parsedown h5 {
    font-size: 16px;
    font-weight: bold;
}