.parsedown h1 {
    font-size: 34px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown h5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown p {

}

.parsedown ul {
    list-style-type: circle;
    list-style-position: inside;
}

.parsedown li {

}

.parsedown ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.parsedown a {
    color: rgb(118, 9, 219);
}

.parsedown a:hover {
    color: rgb(85, 13, 153);
}

.parsedown pre {
    background-color: rgb(75 85 99);
    border-radius: 8px;
    padding: 8px 16px;
    margin: 4px 0px 16px 0px;
    text-wrap: wrap;
}

.parsedown code {
    background-color: rgb(75 85 99);
    color: rgb(245 245 245);
    border-radius: 8px;
    padding: 2px;
    margin: 4px 0px 16px 0px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid rgb(75 85 99);
}

th {
background-color: #E5E5E5;
}